@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
#app {
  width: 100%;
  height: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

h6 {
  font-size: 15px;
}

.pi {
  line-height: 0;
}

i,
svg {
  color: var(--text-color);
}
input::placeholder,
.p-dropdown-label.p-placeholder {
  color: var(--gray-50);
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 200;
}

iframe {
  width: 100% !important;
  #document .qJTHM,
  div#container {
    width: 100% !important;
    background-color: black;
  }
}
.p-card .p-card-content {
  padding: 0;
}
a {
  padding: 0;
  color: var(--text-color);
  text-decoration: none;
  &:hover {
    background-color: transparent;
  }
}

.v-sidebar-menu {
  // --vsm-mobile-item-color: ;
  --vsm-mobile-item-bg: var(--primary-color);
}
